<!DOCTYPE html>
<html>
    <head>
        <title>Dead By Daylights Perspective</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="mustache.min.js"></script>
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

        <style>

            body {
                background-color: lightGray;
            }

            .demo-card-wide.mdl-card {
                display: inline-block;

                width: 512px;

                 margin-left: 10px;
            }
            .demo-card-wide > .mdl-card__title {
                color: #fff;
                height: 400px;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #000;
            }
            .demo-card-wide > .mdl-card__menu {
                color: #fff;
            }
        </style>

        <script src="index.js"></script>

    </head>
    <body>
        <section id="episode-list">

        </section>

        <script id="select-episode" type="x-tmpl-mustache">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background-image: url('http://img.youtube.com/vi/{{id}}/0.jpg')">

                </div>
                <div class="mdl-card__supporting-text">
                    {{date}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="watch.html?v={{id}}&p=all">
                        WATCH ALL
                    </a>

                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="watch.html?v={{id}}&p=survivors">
                        WATCH SURVIVORS
                    </a>

                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="watch.html?v={{id}}&p=killer">
                        WATCH KILLER
                    </a>
                </div>
            </div>
        </script>
    </body>
</html>
